<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOGS" source="logging.path" defaultValue="logs"/>
    <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level trace=%X{traceId:-} span=%X{spanId:-} %logger{0} - %msg%n</pattern>
            </pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="jsonConsole"/>
    </root>
</configuration>
